*{margin: 0;padding: 0;outline: 0;}

body{ font-family: 'Open Sans', sans-serif;font-size: 16px;line-height: 18px;color: #000;}

.templete{width:960px;background:#ddd;margin:0 auto;}
.clear{overflow: hidden;}

.header{ margin-bottom: 80px;}
.header-top{
	background: white;
    border-bottom: 1px solid darkgrey;}
.header-top img{
	width: 425px;
    margin-left: 261.5px;
    margin-top: 10px;
}

.menu{
	background: #F7F7F7;
    border-bottom: 4px solid #9170E4;}
.menu ul{
	margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 274px;}
.menu li{display: block; float: right;}
.menu li a{
	text-decoration: none;
    text-align: center;
    color: black;
    font-size: 18px;
    display: block;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.menu li a:hover{
    background: #DDDEDE;
}
#active
{
  background: #DDDEDE;
}

.maincontent {
	width: 520px;
    margin-bottom: 35px;
    border-radius: 9px;
    border: 1px solid #D9EDF7;
    background: white;
    }
.animate_logo
{
  height: 100px;
    width: 200px;
    margin-left: 210px;
    margin-bottom: 325px;
}
.form {}
.form h3{
text-align: center;
font-size: 16px;
padding: 12px;
color: green;
}
.form-top {
		text-align:center;
		font-weight:bold;
		background: #D9EDF7;
		padding: 15px;
		font-size: 15px;
}
.form-main{}
.form-main p{
	    padding: 10px;
    font-family: sans-serif;
    padding-top: 25px;
    padding-left: 17px;
    display: block;
    font-size: 18px;
}
input[type="Email"],input[type="text"],input[type="number"]
{
    margin-left: 15px;
    padding: 8px;
    border-radius: 5px;
    width: 467px;
    border: 1px solid grey;
}
input[type="number"]:focus
{
  -moz-box-shadow: 1px 2px 4px #39A7E4;
  -webkit-box-shadow: 1px 2px 4px #39A7E4;
  box-shadow: 1px 2px 4px #39A7E4;
   background: #D9EDF7;
   border:1px solid #39A7E4;
 
}


input[type="text"]:focus
{
   -moz-box-shadow: 1px 2px 4px #39A7E4;
  -webkit-box-shadow: 1px 2px 4px #39A7E4;
  box-shadow: 1px 2px 4px #39A7E4;
   background: #D9EDF7;
   border:1px solid #39A7E4;
}

input[type="Email"]:focus
{
   -moz-box-shadow: 1px 2px 4px #39A7E4;
  -webkit-box-shadow: 1px 2px 4px #39A7E4;
  box-shadow: 1px 2px 4px #39A7E4;
   background: #D9EDF7;
   border:1px solid #39A7E4;
}


input[type="password"]:focus
{
   -moz-box-shadow: 1px 2px 4px #39A7E4;
  -webkit-box-shadow: 1px 2px 4px #39A7E4;
  box-shadow: 1px 2px 4px #39A7E4;
   background: #D9EDF7;
   border:1px solid #39A7E4;
}

input[type="password"]
{
	margin-left: 15px;
    padding: 8px;
    border-radius: 5px;
    width: 467px;
    margin-bottom: 8px;
    border: 1px solid grey;
}
input[type="submit"]

{       margin-top: 10px;
    margin-left: 18px;
    width: 75px;
    margin-bottom: 13px;
    height: 30px;
    font-size: 15px;
    background: #5BC0DE ;
    color: white;
    border-radius: 4px;
    border: 0px solid #1C9ADF;}

input[type="submit"]:hover{
	background: #39A7E4;
	color: white;
	cursor: pointer;
}
.form-main a{
	text-decoration: none;
    color: #7288B6;
    margin: 0 auto;
    padding-left: 18px;}
.form-main a:hover{text-decoration: underline;}
#Not{
	padding-left: 6px;
}
/*footer section is here*/


.footersection{
	height: 90px;
    background: white;
    text-align: right;
    border-top: 4px solid #9170E4;
}
.footersection p{

	padding-top: 30px;
    margin-bottom: 30px;
    margin-right: 33px;
}
